div{
	border-top: 15px;
	border: 5px solid #000033;
	padding: 50px;
	text-align: center;
	margin: 0
}


a{
	background-color: #000033;
	color:  white;
	padding: 10px;
}

a:hover{
	background-color: white;
	color: #000033;
	padding: 10px;
}